html,
body{
	height:100%;
	width:100%;
	background-color:#1B1D26; font-family:arial,verdana,sans-serif; margin:0; padding:0;
	color:#eee;
	margin:0;
	padding:0;
}

head{display:block;}
title{display:block; height:45px; padding:0px 2em; background-color:#fc0; margin:0 auto; font-size:32px; font-weight:bold; color:#333;}

p{
  margin:1em 0.5em;
}

#box {
  position:absolute;
  top:200px;
  left:400px;
  height:100px;
  width:100px;
  background-color:#778C7A;
  border:2px solid #BFBD9F;
}

input[type="button"] {
  position: relative;
  margin: 10px;
}

html.idle .blinder{
  opacity:0;
  transition: opacity 5s;
  -moz-transition: opacity 5s; /* Firefox 4 */
  -webkit-transition: opacity 5s; /* Safari and Chrome */
}

html.notIdle .blinder{
  opacity:1;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s; /* Firefox 4 */
  -webkit-transition: opacity 0.4s; /* Safari and Chrome */
}
